name: build-push
on:
  push:
    branches:
      - main
      - v2
    tags-ignore:
      - "*"

jobs:
  build-test-push:
    if: "!contains(github.event.commits[0].message, '[ci skip]')"
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: install-deps
        run: sudo apt update && sudo apt install -y ruby-bundler
      - name: build
        run: ./run build
      - name: test
        run: ./run test
      - name: push
        env:
          GHCR_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo ${GHCR_ACCESS_TOKEN} | docker login ghcr.io -u ${GITHUB_ACTOR} --password-stdin
          ./run push
